.single {
	article {
		position: relative;
		
		h2 {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		
		h3 {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		
		h4 {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		
		img {
			margin-top: 2rem;
			margin-bottom: 2rem;
			max-width: 100%;
			height: auto;
		}
		
		.date {
			font-size: 1.4rem;
			color: #898B8E;
			padding-left: 0px;
			
			@include media-breakpoint-up(md) {
				
			}
		}
		
		.text-size {
			font-size: 1.1rem;
			line-height: 2rem;
			//margin-bottom: 3rem;
			
			.control {
  				width: 20px;
  				height: 20px;
  				background-color: #86888A;
  				position: relative;
				display: block;
				text-indent: -1000px;
				overflow: hidden;
				
				&::after {
					content: " ";
  					position: absolute;
				  	display: block;
				  	background-color: #fff;
				  	height: 2px;
				  	margin-top: -1px;
				  	top: 50%;
				  	left: 5px;
				  	right: 5px;
				  	z-index: 9;
				}
				
				&:before {
					content: " ";
					position: absolute;
					display: block;
					background-color: #fff;
					width: 2px;
					margin-left: -1px;
					left: 50%;
					top: 5px;
					bottom: 5px;
					z-index: 9;
				}
				
				&.minus {
					&:before {
						content: none;
					}
				}
			}
		}
	}
}